 .logo {
     margin-top: 200px;
     margin-bottom: 50px;
     height: 100px;
     text-align: center;
 }

 .nav {
     height: 50px;
     .searchCtn {
         display: flex;
         margin: auto;
         width: 650px;
     }
 }

 .btnText {
     font-size: 24px;
 }

 .btnSearch {
     margin-left: 10px !important;
     width: 120px;
 }